In [4]:
# Luego de analizar los datos publicados en: https://www.kaggle.com/NUFORC/ufo-sightings Indicar cuál de las siguientes afirmaciones es correcta:	 
# a) Existen 143 registros de avistajes en Canadá durante el año 2010
# b) La forma hexagonal es una de las formas menos populares registradas.
# c) Existen 963 ufos reportados con forma de chevron
# d) El avistaje mas largo ocurrido en enero del 2005 ocurrió en la ciudad de Green Lakeimport pandas as pd
import numpy as np
import pandas as pd

Luego de analizar los datos publicados en: https://www.kaggle.com/NUFORC/ufo-sightings Indicar cuál de las siguientes afirmaciones es correcta:	 
 		 a) 	El tercer estado con mas avistajes de ovnis es Texas.
 		 b) 	El promedio de duración de los ufos con formas cambiantes es superior al resto.
 		 c) 	El avistaje de menor duración se registro en el estado de Wyoming
 		 d) 	El avistaje de mayor duración en segundos se registro en Canadá.

In [5]:
# a) El tercer estado con mas avistajes de ovnis es Texas.
UFOsDF = pd.read_csv('ufo-sightings/scrubbed.csv')

statesUFOs = UFOsDF.assign(count = 1).loc[:, ['state', 'count']]
statesUFOs.groupby('state').sum().sort_values('count', ascending = False)

# RTA: Falso - Texas es el 4to estado con mas avistajes.

# b) El promedio de duración de los ufos con formas cambiantes es superior al resto.
# RTA: Falso - Ver el notebook anterior.

# c) El avistaje de menor duración se registro en el estado de Wyoming (Es wy)
durationStatesUFOs = UFOsDF.loc[:, ['state', 'duration (seconds)']]
durationStatesUFOs.dropna(inplace = True)
durationStatesUFOs['duration (seconds)'] = durationStatesUFOs['duration (seconds)'].apply(pd.to_numeric, errors='coerse')
durationStatesUFOs.dropna(inplace = True)
durationStatesUFOs.sort_values('duration (seconds)', ascending = True)
# RTA: Verdadero - El avistaje mas corto fue en Wyoming (wy) de 0.001s.

# d) El avistaje de mayor duración en segundos se registro en Canadá.
durationCountryUFOs = UFOsDF.loc[:, ['country', 'duration (seconds)']]
durationCountryUFOs.dropna(inplace = True)
durationCountryUFOs['duration (seconds)'] = durationCountryUFOs['duration (seconds)'].apply(pd.to_numeric, errors='coerse')
durationCountryUFOs.dropna(inplace = True)
durationCountryUFOs.sort_values('duration (seconds)', ascending = False)
# RTA: Falso - El mayor avistaje se dio en Gran Bretaña y fue de 97836000.00s.

/Users/toolboxtve/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      country  duration (seconds)
559        gb         97836000.00
53384      ca         82800000.00
74660      us         66276000.00
64390      us         52623200.00
69215      us         52623200.00
52709      gb         25248000.00
71172      us         10526400.00
30596      us         10526400.00
10853      us          9468000.00
31486      us          7894800.00
49422      us          6312000.00
21583      us          6312000.00
30590      us          6312000.00
53006      us          6312000.00
23721      us          6120000.00
25822      us          5263200.00
47447      us          4838400.00
74544      us          3654000.00
3476       us          2631600.00
48669      us          2631600.00
62793      us          2631600.00
20064      us          2631600.00
28355      us          2631600.00
38550      us          2631600.00
26560      us          2419200.00
60300      us          2419200.00
45541      us          2102400.00
21742      us          2102400.00
24322      us          1814400.00
53132      de          1814400.00
...       ...                 ...
75190      us                0.50
6040       us                0.50
12763      us                0.50
75324      us                0.45
50329      us                0.45
6493       us                0.40
35038      us                0.40
33248      us                0.33
28605      us                0.30
53001      gb                0.30
32772      us                0.30
35330      us                0.30
18958      us                0.20
13651      us                0.20
45946      us                0.20
32487      us                0.10
7920       us                0.10
18891      us                0.10
1659       us                0.10
13366      us                0.08
7262       us                0.08
2038       us                0.05
7378       us                0.05
21258      us                0.05
67354      ca                0.02
13375      us                0.02
70393      us                0.01
42378      us                0.01
23754      us                0.01
56596      us                0.01

[70660 rows x 2 columns]

Luego de analizar los datos publicados en: https://www.kaggle.com/uciml/student-alcohol-consumption Indicar cuál de las siguientes afirmaciones es correcta:	 
 		 a) 	Los alumnos cuyas madres están en la casa tienen mejor desempeño en Matemática que resto de los alumnos
 		 b) 	Los alumnos de familias mas numerosas registran un menor consumo de alcohol.
 		 c) 	Existen mas alumnos de Portugués en la escuela Mousinho da Silveira que en la Gabriel Pereira.
 		 d) 	El nivel de educación de la madre tiene mas influencia sobre las calificaciones de los hijos, que el nivel de educación del padre.

In [16]:
mathematicCourse = pd.read_csv('student-alcohol-consumption/student-mat.csv')
portugueseCourse = pd.read_csv('student-alcohol-consumption/student-por.csv')

# a)
# RTA: Falsa - Ver notebook anterior.

# b)
# RTA: Falsa - Esta es la que tuve mal en el anterior.

# c)
# RTA: Falsa - Ver notebook anterior.

# d)
# RTA: Verdadera - Por descarte.

 	A partir de la siguiente Visualización creada por la Universidad de Kent: https://www.kent.ac.uk/careers/pics/Future-Jobs-SM.png 
Se pide analizar la misma detenidamente y luego, teniendo en cuenta que las opiniones pueden ser subjetivas intentar encontrar la opción que le parezca cierta entre las siguientes.	 
 		 a) 	Es una visualización del estilo de E. Tufte ya que cumple la mayoría de los principios enunciados por el autor.
 		 b) 	Dentro de muy poco podremos ser "Asteroid Miners"
 		 c) 	Se trata de una visualización al estilo de Holmes usando elementos visuales de forma figurativa en lugar de abstracciones.
 		 d) 	Aparentemente hay un eje de tiempo que está indicado de acuerdo a la distancia del texto al centro de la visualización.

In [17]:
# RTA: d) Ni idea por que!!!

	A partir de la siguiente visualización representando la "distancia léxica" entre diferentes lengujes europeos: 

https://alternativetransport.files.wordpress.com/2015/05/lexical-distance-among-the-languages-of-europe-2-1-mid-size.png 

Se pide analizar la visualización y luego identificar la opción correcta entre las siguientes:	 
 		 a) 	El lenguaje finlandés está dentro de los Indo-Europeos.
 		 b) 	La visualización usa diferentes tipos de líneas para expresar las distancias entre los lenguajes mientras que el área del círculo representa la cantidad de personas que hablan cada lenguaje.
 		 c) 	El Griego es un lenguaje que ha influido unicamente en los idiomas latinos.
 		 d) 	El lenguaje mas parecido al Italiano es el Español.

In [18]:
# RTA: b)

	Luego de analizar los datos publicados en: https://www.kaggle.com/NUFORC/ufo-sightings Indicar cuál de las siguientes afirmaciones es correcta:	 
 		 a) 	Existen 143 registros de avistajes en Canadá durante el año 2010
 		 b) 	La forma hexagonal es una de las formas menos populares registradas.
 		 c) 	Existen 963 ufos reportados con forma de chevron
 		 d) 	El avistaje mas largo ocurrido en enero del 2005 ocurrió en la ciudad de Green Lake

In [62]:
# a) 
canadaUFOs = UFOsDF.assign(count = 1).loc[:, ['country', 'datetime', 'count']]
canadaUFOs.dropna(inplace = True)

canadaUFOs['datetime'] = pd.to_datetime(canadaUFOs['datetime'], format='%d/%m/%Y %H:%M', errors='coerce')
canadaUFOs.dropna(inplace = True)

canadaUFOs['datetime'] = canadaUFOs['datetime'].apply(lambda x: x.strftime('%Y'))

canadaUFOs = canadaUFOs[(canadaUFOs['datetime'] == '2010')]

canadaUFOs.groupby(['country', 'datetime']).sum()

# RTA: False - Existen 67 registros en Canada. OJO QUE NO ES CONFIABLE ESTE DATO!!!

# b)
# RTA: Verdadero - Ver notebook anterior.

                  count
country datetime
au      2010         10
ca      2010         67
de      2010          2
gb      2010         64
us      2010       1615

Luego de analizar los datos publicados en: https://www.kaggle.com/uciml/student-alcohol-consumption Indicar cuál de las siguientes afirmaciones es correcta:	 
 		 a) 	La mayoría de las familias tienen hasta 3 miembros
 		 b) 	El nivel de consumo de alcohol no se ve influenciado por el sexo del alumno.
 		 c) 	El nivel de educación de los padres en áreas urbanas, es en promedio mas alto que el de los que residen en áreas rurales.
 		 d) 	El contar con apoyo escolar adicional influye positivamente en las calificaciones.

In [ ]:
# a)
# RTA: Falsa - Ver notebook anterior.

# b)
# RTA: Falsa - Ver notebook anterior.

# c)
# RTA: Verdadera - Por descarte.

# d)
# RTA: Falsa - Ver notebook anterior.