In [7]:
# Hago el import de los frameworks necesarios
import pandas as pd

pd.options.mode.chained_assignment = None

In [20]:
# Leo la data.
crashes = pd.read_csv('apc.csv')
crashes

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,03/05/1915,01:00,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,09/03/1915,15:20,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,07/28/1916,NaN,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,09/24/1916,01:00,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,10/01/1916,23:45,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...
10,11/21/1916,NaN,"Mainz, Germany",Military - German Army,NaN,NaN,Super Zeppelin (airship),NaN,NaN,28.0,27.0,0.0,Crashed in a storm.
11,11/28/1916,23:45,"Off West Hartlepool, England",Military - German Navy,NaN,NaN,Zeppelin L-34 (airship),NaN,NaN,20.0,20.0,0.0,Shot down by British anti-aircraft fire and ai...
12,03/04/1917,NaN,"Near Gent, Belgium",Military - German Army,NaN,NaN,Airship,NaN,NaN,20.0,20.0,0.0,Caught fire and crashed.
13,03/30/1917,NaN,Off Northern Germany,Military - German Navy,NaN,NaN,Schutte-Lanz S-L-9 (airship),NaN,NaN,23.0,23.0,0.0,Struck by lightning and crashed into the Balti...
14,05/14/1917,05:15,"Near Texel Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-22 (airship),NaN,NaN,21.0,21.0,0.0,"Crashed into the sea from an altitude of 3,000..."
15,06/14/1917,08:45,"Off Vlieland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-43 (airship),NaN,NaN,24.0,24.0,0.0,Shot down by British aircraft.
16,08/21/1917,07:00,Off western Denmark,Military - German Navy,NaN,NaN,Zeppelin L-23 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by British aircraft.
17,10/20/1917,07:45,"Near Luneville, France",Military - German Navy,NaN,NaN,Zeppelin L-44 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by French anti-aircraft fire.
18,04/07/1918,21:30,Over the Mediterranean,Military - German Navy,NaN,NaN,Zeppelin L-59 (airship),NaN,NaN,23.0,23.0,0.0,Exploded and crashed into the sea off the sout...
19,05/10/1918,NaN,"Off Helgoland Island, Germany",Military - German Navy,NaN,NaN,Zeppelin L-70 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing from a ...
20,08/11/1918,10:00,"Ameland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-53 (airship),NaN,NaN,19.0,19.0,0.0,Shot down by british aircraft.
21,12/16/1918,NaN,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,97,NaN,1.0,1.0,0.0,NaN
22,05/25/1919,NaN,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,61,NaN,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...
23,07/19/1919,NaN,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,1.0,0.0,NaN
24,10/02/1919,NaN,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,1.0,0.0,NaN
25,10/14/1919,NaN,"Cantonsville, Maryland",US Aerial Mail Service,NaN,NaN,Curtiss R-4LM,32,NaN,1.0,1.0,0.0,NaN
26,10/20/1919,NaN,English Channel,Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN
27,10/30/1919,NaN,"Long Valley, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH.4,77,NaN,1.0,1.0,0.0,NaN
28,03/10/1920,NaN,"New Paris, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,65,NaN,1.0,1.0,0.0,NaN
29,03/30/1920,NaN,"Newark, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,72,NaN,1.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,11/13/2008,11:35,"Fallujah, Iraq",Falcon Aviation Group,NaN,al-Asad air base - Baghdad,Antonov An-12,S9-SAO,346908,7.0,7.0,0.0,"The cargo plane, chartered by FedEx, crashed w..."
5239,11/16/2008,10:32,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,NaN,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,C-FPCK,1187,8.0,7.0,0.0,The charter aircraft crashed into a steep hill...
5240,11/27/2008,17:00,"Off Perpignan, France",XL Airways leased from Air New Zealand,NaN,Training,Airbus A320-232,D-AXLA,2500,7.0,7.0,0.0,The Airbus A320 was leased by XL Airways of Ge...
5241,12/03/2008,12:13,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,NaN,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,N318WA,11444,3.0,3.0,0.0,The plane struck the side of El Yunque mountai...
5242,12/11/2008,06:25,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,NaN,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,3.0,3.0,0.0,The helicopter ferrying workers to an off shor...
5243,12/15/2008,16:40,Off Turks and Caicos Islands,Alantis Aviation,NaN,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,N650LP,1029,12.0,12.0,0.0,The charter flight disappeared from radar 35 m...
5244,01/04/2009,15:30,Near Houma Louisiana,Petroleum Helicopters Inc,NaN,Bayou Penchant - Off shore oil fields,Sikorsky S-76C,N748P,760629,9.0,8.0,0.0,A helicopter bound for offshore oil fields wen...
5245,01/15/2009,15:06,"New York, New York",US Airways,1549,"New York, NY- Charlotte, NC",Airbus A320-214,N106US,1044,155.0,0.0,0.0,The plane was taking off from La Guardia Airpo...
5246,02/07/2009,14:00,"Manacapuru, Brazil",Aerotaxi Manaus,NaN,Coari - Manus,Bandeirante EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,The plane was being used as an air taxi to fer...
5247,02/07/2009,06:30,"Trigoria, Italy",Air One Executive,NaN,Rome - Bologna,Cessna 650 Citation III,I-FEEV,650-0105,2.0,2.0,0.0,"The plane, heading to Bologna to pick up a med..."
5248,02/12/2009,22:17,"Clarence Center, New York",Continental Connection/Colgan Air,3407,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,The commuter plane crashed while attemptiong t...
5249,02/15/2009,16:05,"Chanco, Chile",Flight Service,NaN,NaN,Bell UH-1H,NaN,NaN,13.0,13.0,0.0,The helicopter was carrying firemen to a nearb...
5250,02/20/2009,04:10,"Luxor, Egypt",Aerolift,NaN,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,S9-SVN,6344310,5.0,5.0,0.0,"While attemping to take off from Luxor, the ca..."
5251,02/25/2009,10:31,"Amsterdam, Netherlands",Turkish Airlines,1951,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,The plane was on final approach to Runway 18R ...
5252,03/09/2009,05:40,"Lake Victoria, Uganda",Aerolift,NaN,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,S9-SAB,073410301,11.0,11.0,0.0,The cargo plane carrying and water purificatio...
5253,03/12/2009,09:48,"Off St. Johns, Newfoundland",Cougar Helicopters,NaN,St. Johns - Hibernia platform,Sikorsky S-92A,C-GZCH,920048,18.0,17.0,0.0,The pilot reported a technical malfunction and...
5254,03/22/2009,14:28,"Butte, Montana",Eagle Cap Leasing,NaN,"Oroville, CA - Butte, MT",Pilatus PC-12/45,N128CM,403,14.0,14.0,0.0,The plane crashed 500 feet short of the runway...
5255,03/23/2009,06:48,"Tokyo, Japan",FedEx,80,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,N526FE,48600/560,2.0,2.0,0.0,The cargo plane crashed and burst into flame a...
5256,04/01/2009,14:00,"Off Crimond, Scotland",Bond Offshore Helicopters,NaN,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,NaN,NaN,16.0,16.0,0.0,The helicopter crashed 35 miles East of Crimon...
5257,04/06/2009,12:30,"Bandung, Indonesia",Military - Indonesian Air Force,NaN,Militiary training,Fokker F-27 Friendship 400M,A-2703,10538,24.0,24.0,0.0,While returning from a military training exerc...
5258,04/09/2009,07:00,"Near Wamena, Indonesia",Aviastar Mandiri,NaN,Jayapura - Wamena,British Aerospace BAe-146-300,PK-BRD,E3189,6.0,6.0,0.0,The cargo plane crashed into Gunung Pike mount...
5259,04/17/2009,10:30,"Mount Gergaji, Indonesia",Mimika Air,514,Ilaga - Mulia,Pilatus PC-6,PK-LTJ,959,11.0,11.0,0.0,The passenger plane crashed in poor weather in...
5260,04/17/2009,15:32,"Canaima National Park, Venezuela",Aerotuy airline,NaN,Canaima - Porlamar,Cessna 208B Grand Caravan,YV-1181,208B-0695,11.0,1.0,0.0,"The plane, carrying 9 tourists, crashed 5 mile..."
5261,04/29/2009,06:00,"Massamba, DemocratiRepubliof Congo",Bako Air,NaN,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,Crashed while en route on a ferrying flight. T...
5262,05/03/2009,12:00,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,NaN,Patrol,Mi-35,EV08114,NaN,18.0,18.0,0.0,The helicopter was patrolling along the Venezu...
5263,05/20/2009,06:30,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,05/26/2009,NaN,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,06/01/2009,00:15,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,06/07/2009,08:30,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,06/08/2009,NaN,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [17]:
#  a) Una de las fechas mas frecuentes es 31 de Agosto de 1988
dates = crashes[['Date']]
dates['count'] = 1
dates = dates.groupby(['Date'], as_index = False).count()
dates = dates.sort_values(by = 'count', ascending = False)
dates

# RTA: Verdadero.

            Date  count
3222  09/11/2001      4
3060  08/31/1988      4
3002  08/27/1992      4
790   02/28/1973      4
2094  06/18/1972      4
3013  08/28/1976      4
4161  11/23/1962      3
1108  03/23/1994      3
4041  11/15/1934      3
1698  05/13/1957      3
4408  12/09/1982      3
1864  05/29/1947      3
170   01/13/2005      3
348   01/25/1947      3
3622  10/11/1985      3
1425  04/19/2000      3
2465  07/19/1989      3
3191  09/09/1978      3
4216  11/27/1947      3
768   02/26/1960      3
897   03/08/1962      3
3082  09/02/1958      3
3992  11/11/1945      3
3464  09/30/1975      3
64    01/06/1974      3
3108  09/03/1978      3
4249  11/29/1944      3
3573  10/08/1979      3
1679  05/11/1990      3
1951  06/06/1944      3
...          ...    ...
1659  05/09/1991      1
1658  05/09/1989      1
1657  05/09/1987      1
1656  05/09/1982      1
1653  05/09/1962      1
1682  05/11/2004      1
1652  05/09/1957      1
1651  05/09/1953      1
1650  05/09/1952      1
1649  05/09/1945      1
1648  05/09/1934      1
1647  05/09/1933      1
1662  05/10/1918      1
1663  05/10/1930      1
1664  05/10/1938      1
1665  05/10/1946      1
1666  05/10/1961      1
1667  05/10/1972      1
1668  05/10/1975      1
1669  05/10/1977      1
1670  05/10/1990      1
1671  05/10/1996      1
1672  05/10/2000      1
1673  05/11/1947      1
1674  05/11/1953      1
1675  05/11/1964      1
1676  05/11/1971      1
1678  05/11/1987      1
1680  05/11/1993      1
4752  12/31/1997      1

[4753 rows x 2 columns]

In [18]:
# b) 	La hora mas frecuente para un accidente es al amanecer.
# No lo respondo.

In [23]:
#  c) El lugar en donde ocurrio el accidente con mayor cantidad de fatalidades está ubicado en Asia.
location = crashes[['Location', 'Fatalities']]
location = location.sort_values(by = 'Fatalities', ascending = False)
location

# RTA: Falso.

                                               Location  Fatalities
2963                           Tenerife, Canary Islands       583.0
3568              Mt. Osutaka, near Ueno Village, Japan       520.0
4455                           Near Charkhidadri, India       349.0
2726                          Near Ermenonville, France       346.0
3562            AtlantiOcean, 110 miles West of Ireland       329.0
3240                          Near Riyadh, Saudi Arabia       301.0
3775     Over the Persian Gulf, near Bandar Abbas, Iran       290.0
4916                                 Near Shahdad, Iran       275.0
3137                           Chicago O'Hare, Illinois       271.0
3436                       Near Sakhalin Island, Russia       269.0
4249                          Near Komaki, Aichi, Japan       264.0
4026                               Jeddah, Saudi Arabia       261.0
4817                     Belle Harbor, Queens, New York       260.0
3816                                Lockerbie, Scotland       259.0
3187        Near Mt. Erebus, Ross Ice Shelf, Antarctica       257.0
3596                       Gander, Newfoundland, Canada       256.0
3513                            Near Kabul, Afghanistan       240.0
4518                              Buah Nabar, Indonesia       234.0
4429                        Off East Moriches, New York       230.0
4507                                        Agana, Guam       229.0
4583              Off Peggy's Cove, Nova Scotia, Canada       229.0
5265  AtlantiOcean, 570 miles northeast of Natal, Br...       228.0
4861                          Off Penghu Island, Taiwan       225.0
4017                       Near Ban Nong Rong, Thailand       223.0
4667                Off Nantucket Island, Massachusetts       217.0
3029                     Off Bandra, Maharashtra, India       213.0
3564                     Near Uchuduk, Uzbekistan, USSR       200.0
4547                                     Taipei, Taiwan       196.0
2783                          Near Maskeliya, Sri Lanka       191.0
4397                Off Puerto Plata, Domincan Republic       189.0
...                                                 ...         ...
3341                        Mount Galunggung, Indonesia         0.0
3307                              Near Babaeski, Turkey         0.0
5217                              Near Bogota, Colombia         0.0
1359                                   Des Moines, Iowa         0.0
1610              Ishikawa City, Ryukyu Island, Okinawa         0.0
4117                    JFK Airport, New York, New York         0.0
4339                                   Atlanta, Georgia         0.0
1983                              Kansas City, Missouri         0.0
4701                               Burbank, Calilfornia         0.0
2359                         Near San Diego, California         0.0
2066                        Near Da Nang, South Vietnam         0.0
1265                             Amsterdam, Netherlands         0.0
5134                                        Pau, France         0.0
4748                                    Reynosa, Mexico         0.0
889                                 Near El Paso, Texas         0.0
2590                             Sacramento, California         0.0
5074                                  Chicago, Illinois         0.0
5186                                    London, England         0.0
26                                      English Channel         NaN
333                                       Ningbo, China         NaN
364                                       Hangow, China         NaN
423                                      Nanking, China         NaN
537                                      Gulf of Tonkin         NaN
570                              Near Samarinda, Borneo         NaN
571                                       Kupang, Timor         NaN
573                                                 NaN         NaN
593                                      Kunming, China         NaN
678                                     Seljord, Norway         NaN
768               Between Chungking and Shanghai, China         NaN
4705                                    Herreira, Spain         NaN

[5268 rows x 2 columns]

In [28]:
# d) 	La aerolinea (operador) con mayor cantidad de fatalidades es Air France
operators = crashes[['Operator', 'Fatalities']]
operators = operators.groupby(['Operator'], as_index = False).count()
operators = operators.sort_values(by = 'Fatalities', ascending = False)
operators

                                               Operator  Fatalities
84                                             Aeroflot         179
1559                          Military - U.S. Air Force         176
197                                          Air France          69
838                                  Deutsche Lufthansa          65
268                                            Air Taxi          44
2343                                   United Air Lines          44
1571                    Military - U.S. Army Air Forces          43
1757                         Pan American World Airways          41
732                 China National Aviation Corporation          38
1516                         Military - Royal Air Force          36
2321                             US Aerial Mail Service          36
432                                   American Airlines          36
1577                               Military - U.S. Navy          36
1124                                    Indian Airlines          34
1799                               Philippine Air Lines          33
1192                           KLM Royal Dutch Airlines          33
1823                                            Private          31
125                                         Aeropostale          26
1704                          Northwest Orient Airlines          25
881                                   Eastern Air Lines          25
608                            British Overseas Airways          25
1957                                             Sabena          24
22                                              AVIANCA          24
1566                               Military - U.S. Army          23
1118                                   Imperial Airways          22
1601                          Military -Royal Air Force          22
1008                          Garuda Indonesia Airlines          19
603                            British European Airways          18
2247                  Trans Continental and Western Air          18
2366                                               VASP          18
...                                                 ...         ...
946                                            Fine Air           1
945                            Filipinas Orient Airways           1
944                                   Fiji Air Services           1
943                                            Fiji Air           1
942                    Festus Flying Service - Air Taxi           1
940                                    Federal Airlines           1
937                                     Farnair Hungary           1
936                                Faraz Qeshm Airlines           1
934                                   Far East Aviation           1
933   Far Aviation - Air Taxi / Speeds Flying - Air ...           1
932                               Falcon Aviation Group           1
931                           Falcon Airways - Air Taxi           1
930                                            Fairways           1
928                        Fairbanks Air Service - Taxi           1
910                                             Euroair           1
927                            Fairbanks Air - Air Taxi           1
926                                    FAMA (Argentina)           1
925                F.R. de la Direccion General de Ados           1
923                Express Airlines - Northwest Airlink           1
922                               Exportada De Sal S.A.           1
921                            Executive Jet Sales Inc.           1
920                                     Executive Funds           1
919                                  Executive Airlines           1
917                                              Evolga           1
916                    Evergreen International Airlines           1
914                  Evergreen Alaska Helicopters, Inc.           1
913                                         Everest Air           1
912                             Europe Aero Service EAS           1
911                                     Eurojet Italila           1
1445                       Military - Ejército del Aire           0

[2476 rows x 2 columns]

In [37]:
# a) 	El lugar mas frecuente es San Pablo, Brazil
location = crashes[['Location']]
location['count'] = 1
location = location.groupby(['Location'], as_index = False).count()
location = location.sort_values(by = 'count', ascending = False)
location

# RTA = Verdadero.

                           Location  count
1709                 Moscow, Russia     15
3780              Sao Paulo, Brazil     15
3639         Rio de Janeiro, Brazil     14
1548            Manila, Philippines     13
76                Anchorage, Alaska     13
317                Bogota, Colombia     13
2972             New York, New York     12
409                    Cairo, Egypt     12
538               Chicago, Illinois     11
4028                   Tehran, Iran      9
2522            Near Moscow, Russia      9
122                    AtlantiOcean      9
3658                    Rome, Italy      8
69           Amsterdam, Netherlands      8
3431                  Paris, France      8
690                Denver, Colorado      8
86                   Ankara, Turkey      8
572                 Cleveland, Ohio      7
374              Bucharest, Romania      7
389             Burbank, California      7
2476        Near Medellin, Colombia      7
971       Guatemala City, Guatemala      7
1463                London, England      7
1333                 Kunming, China      7
2962               New Delhi, India      6
2997             North AtlantiOcean      6
2974             Newark, New Jersey      6
932           Grand Canyon, Arizona      6
1982          Near Bogota, Colombia      6
786                 English Channel      6
...                             ...    ...
1555    Maracaibo, Zulia, Venezuela      1
1554             Maputo, Mozambique      1
1522           Maiquetia, Venezuela      1
1523             Makhackala, Russia      1
1524        Malahasa Attica, Greece      1
1526                Malanje, Angola      1
1527                Malatya, Turkey      1
1528        Malaybalay, Philippines      1
1529        Malemba Nkulu, DR Congo      1
1530                Mallorca, Spain      1
1532              Malta-Luqa, Malta      1
1533      Maluti Mountains, Lesotho      1
1534       Manacapuru River, Brazil      1
1535             Manacapuru, Brazil      1
1536              Manado, Indonesia      1
1538    Manakau Harbor, New Zealand      1
1540      Manchester, New Hampshire      1
1541           Mandalgobi, Mongolia      1
1542           Mangalore, Australia      1
1543           Mangere, New Zealand      1
1544          Manguipayan, Colombia      1
1545              Manhattan, Kansas      1
1546            Manhattan, New York      1
1547              Manibagi, Myanmar      1
1549            Manizales, Colombia      1
1550              Mannheim, Germany      1
1551                 Manta, Ecuador      1
1552       Manus Island, New Guinea      1
1553           Manzanares, Colombia      1
4302  near Orillia, Ontario, Canada      1

[4303 rows x 2 columns]

In [46]:
#b) 	El total de accidentes de Aeroflot es 1150
operators = crashes[['Operator']]
operators = operators[operators['Operator'] == 'Aeroflot']
operators['count'] = 1
operators = operators.groupby(['Operator'], as_index = False).count()
operators

# RTA: Falsa.

   Operator  count
0  Aeroflot    179

In [ ]:
# c) 	Hay menos de 100 ciudades de Francia en Total

In [50]:
#  a) 	El avión con mayor cantidad de fatalidades es el Douglas DC-3
planes = crashes[['Type', 'Fatalities']]
planes = planes.groupby(['Type'], as_index = False).count()
planes = planes.sort_values(by = 'Fatalities', ascending = False)
planes
# RTA = Verdadero.

                                          Type  Fatalities
1178                              Douglas DC-3         333
2388  de Havilland Canada DHC-6 Twin Otter 300          81
1097                             Douglas C-47A          74
1089                              Douglas C-47          61
1230                              Douglas DC-4          40
2340                           Yakovlev YAK-40          37
125                              Antonov AN-26          36
1598                          Junkers JU-52/3m          32
1119                             Douglas C-47B          29
1246                             Douglas DC-6B          27
1045                         De Havilland DH-4          27
656                                 Breguet 14          23
995                              Curtiss C-46A          21
1241                              Douglas DC-6          20
1096                           Douglas C-47-DL          20
1889                 McDonnell Douglas DC-9-32          19
106                              Antonov AN-12          19
118                              Antonov AN-24          19
1288                 Embraer 110P1 Bandeirante          18
991                               Curtiss C-46          18
2231                           Tupolev TU-134A          17
1389                Fokker F-27 Friendship 600          17
1589                              Junkers F-13          17
2386  de Havilland Canada DHC-6 Twin Otter 100          16
826                  Cessna 208B Grand Caravan          16
1742                           Lockheed C-130H          16
1383                Fokker F-27 Friendship 200          16
2387  de Havilland Canada DHC-6 Twin Otter 200          15
1740                  Lockheed C-130E Hercules          15
735                       CASA 212 Aviocar 200          15
...                                        ...         ...
895                                Cessna R182           1
928             Consolidated Canso (amphibian)           1
927                          Consolidated C-87           1
926                          Consolidated B24H           1
925                         Consolidated B-24J           1
924                         Consolidated B-24H           1
922      Consolidated B-24 / Consolidated B-24           1
920             Consolidated 32-3 Liberator II           1
919             Consolidated 32-2 Liberator II           1
918              Consolidated 32-2 Liberator I           1
917              Consolidated  32 Liberator II           1
916                         Channel Air Bridge           1
915                         Chance Vought F-8E           1
914                                Cessnea 172           1
913              Cessna UC-35D Citation Encore           1
911                               Cessna U206F           1
910                               Cessna U206C           1
909                               Cessna U206A           1
907                     Cessna U-27A Caravan I           1
905                              Cessna TU206D           1
904                              Cessna TU206C           1
903                              Cessna TU206B           1
902                               Cessna T337B           1
901                               Cessna T310R           1
900                               Cessna T210N           1
899                               Cessna T210M           1
897                                Cessna T210           1
2445                         deHavilland DH-86           1
741                    CASA 212-DE Aviocar 200           0
2119                            Sikorsky S-38B           0

[2446 rows x 2 columns]